<!-- app/pods/login/template.hbs -->
<div class="ui large centered grey header">Select Login or Register</div>

<div class="ui three column centered grid">
    <div class="column"></div>
    <div class="column centered row">
            {{login-register-selector action="gotoAction" data=loginChoices}}
    </div>
    <div class="column"></div>
</div>
