<!-- app/pods/components/projects-search/template.hbs -->
<div class="ui fluid right action left icon input">
    <i class="search icon"></i>
    <input type="text" placeholder="Search through your projects...">
    <div class="ui button">Search</div>
</div>
<div class="results"></div>
