<!-- app/pods/components/comment-pane/template.hbs -->
<div class="ui segments">
    <div class="ui segment">
        <h4 class="ui header">Comments</h4>
    </div>
    <div class="ui segment" style="height: 300px; overflow-y: scroll;">
        <div class="ui threaded comments">
            {{#each comments as |comment|}}
                {{comment-detail
                comment=comment
                editComment=attrs.editComment
                deleteComment=attrs.deleteComment
                restoreComment=attrs.restoreComment
                reportComment=attrs.reportComment}}
            {{else}}
                (none)
            {{/each}}

        </div>
    </div>
    <div class="ui segment">
        {{comment-form addComment='addComment'}}
    </div>
</div>
