<!-- app/pods/components/footer-main/template.hbs -->
<div class="ui inverted segment" style="margin:0; padding:10px;">


    <div class="ui stackable grid">
        <div class="eight wide column">
            <img src="/assets/images/darpa.png" width="120" style="width 120px">
        </div>

        <div class="eight wide right aligned column">
            <br>
                <a href="mailto:support@craftproject.org?Subject=Support%20Request" target="_top"><i class="icon mail"></i> Contact</a>
        </div>
    </div>
</div>
