<!-- app/pods/components/footer-main/template.hbs -->
<div class="ui inverted segment">
    <div class="eight wide column">
        <p>DARPA Craft Project, All Rights Reserved.</p>
    </div>
    <div class="right aligned eight wide column">
        <a href="mailto:support@craftproject.org?Subject=Support%20Request" target="_top"><i class="icon mail"></i> Contact</a>
    </div>
</div>
