<!-- app/pods/projects/detail/files/index/template.hbs -->
{{!-- <div class="segments">
    <div class="segment">
        <h2 class="ui header">Files</h2>
    </div>

    {{!-- {{#each model as |provider|}}
        {{file-tree root=provider project=provider.node}}
    {{/each}} --}}
{{!-- </div> --}}

{{file-browser rootItem=project openFile=(action 'fileDetail') openNode=(action 'nodeDetail')}}
